x64/Debug/allegro-5.2.dll
x64/Debug/allegro_color-5.2.dll
x64/Debug/allegro_dialog-5.2.dll
x64/Debug/allegro_font-5.2.dll
zlapgolebia/x64/Debug/zlapgolebia.tlog/zlapgolebia.lastbuildstate
zlapgolebia/x64/Debug/zlapgolebia.tlog/link.read.1.tlog
zlapgolebia/x64/Debug/zlapgolebia.tlog/link.command.1.tlog
zlapgolebia/x64/Debug/zlapgolebia.tlog/CL.read.1.tlog
zlapgolebia/x64/Debug/zlapgolebia.tlog/CL.command.1.tlog
zlapgolebia/x64/Debug/zlapgolebia.log
zlapgolebia/x64/Debug/zlapgolebia.obj
zlapgolebia/x64/Debug/vc140.idb
zlapgolebia.sdf
zlapgolebia/x64/Debug/vc140.pdb
zlapgolebia/x64/Debug/zlapgolebia.tlog/link.write.1.tlog
zlapgolebia/x64/Debug/zlapgolebia.tlog/CL.write.1.tlog
zlapgolebia.opensdf
x64/Debug/zlapgolebia.pdb
x64/Debug/zlapgolebia.ilk
x64/Debug/allegro_image-5.2.dll
x64/Debug/allegro_primitives-5.2.dll
x64/Debug/allegro_ttf-5.2.dll
.vs/zlapgolebia/v14/.suo
x64/Debug/zlapgolebia.exe